.content {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--theme-primary);

  height: 100vh;
  overflow: hidden;
  padding: 1rem;
}

.card {
  border-radius: 0.25rem;
  box-shadow: var(--elevation-1);
  background-color: var(--card-background);

  width: 100%;
  padding: 1rem;
}

.loginForm {
  display: flex;
  flex-direction: column;
}

.loginForm > mwc-textfield {
  margin: 0.5rem 0;
}

.actions {
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 600px) {
  .card {
    max-width: 18rem;
  }
}
